.loading-overlay{
    width: 100%;
   /*height: 100%;*/
    height : 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index : 1;
    background-color: rgba(156, 156, 156, 0.164);
    column-span: wait;
}