body, html {
  margin : 0;
  padding : 0;
}

.App {
 
}

.todolist-date{
  margin : 20px 15px;
  font-size: 30px;
  font-weight: 700;


}
.todolist-secondline{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.todolist-dayofweek{
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
  width: 50%;
  text-align: left;
}
.todolist-askId{
  width: 50%;
  margin : 0 15px;
  text-align: right;
  font-size: 20px;
  font-weight: 700;

}
.todolist-overview{
  margin : 15px 15px;
  color: green;;
  font-size: 20px;
  font-weight: 700;
  
}

.todolist-items{

}

.todolist-item{
  box-shadow: 0px 4px 5px 0px rgb(139, 151, 139);
  
  padding : 8px 0;
  margin : 18px 12px;
  border-radius: 4px;
}
.todolist-item-content{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.item-check{
  cursor:pointer;
  border: 3px solid gray;
  color : green;
  margin : 0 10px;
  min-width : 18px;
  min-height : 18px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;

 
 

}
.item-done{
  color : green;
  border : 3px solid green;
  
}
.item-text{
  margin: 0 10px;
  min-width: 120px;
  width: fit-content;
  font-weight: 400;
  font-size: 15px;
}
.item-input{
  border: none;
  /* width: max-content; */
  margin : 0 10px;
  width: 80%;
  min-width:   120px;
  font-weight: 400;
  font-size: 15px;
}

.item-input:-webkit-autofill{
 -webkit-box-shadow : 0 0 0 1000px white inset;
}
.text-highlight{
  background-color: rgba(247, 214, 131, 0.842);
  
}
.text-done{
  color: gray;
  text-decoration: line-through;
}
.item-calendar{
  margin : 0px 12px;
  cursor : pointer;

  

}
.item-highlight{
  margin : 0px 10px;
  cursor:pointer;
  color:  rgba(207, 166, 63, 0.842);

}
.item-delete{
  cursor:pointer;
  margin : 0px 10px;
  color : black;
}
.item-time{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
}
.item-Dday{
  font-size: 13px;
  margin-left: 17%;
  text-align: left;
  width : 60px;
  font-weight: 300;
}
.item-datetime{
  font-size: 12px;
  margin-right: 3%;
  text-align: right;
  width : 50%;

}
.circle-button{
  border: 5px solid green;
  width : 32px;
  height : 32px;
  border-radius: 50%;
  position: fixed;
  right : 20px;
  bottom : 100px;
  font-size: 24px;
  color : white;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: green;
  box-shadow: 1px 3px 5px 1px rgb(139, 151, 139);
  cursor: pointer;

}
/* 캘린더 시작 */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  position: fixed;
    right: 11px;
    margin-top: 4px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
/* .calendar{
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  border: solid 10px hotpink;
  display: ;
} */
/* 캘린더끝 */

.bottom-sheet{
  box-shadow: 1px 3px 5px 1px rgb(139, 151, 139);
  display : flex;
  width : 100%;
  height : 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 238, 217);
}
.bottom-sheet > input{
  font-size: 15px;
  outline: none;
  height: 30px;
  width : 100%;
  margin: 0 24px;
  border: 1px solid white;
  border-radius: 4px;
}
.app-close {
  position: absolute;
  font-size : 30px;
  right :20px;
}